<div class = "container">
	<h1 class = "text-danger text-center">Um erro acabou de acontecer</h1>
	<p class = "text-center">
		Por alguma razão, um erro acabou de acontecer e por isso sua requisição não pôde ser 
        completada com sucesso!
        Peço desculpas pela inconveniência.
	</p>
</div>
