<div class="jumbotron text-center">
  <h1 class="display-4">Bem vindo ao Annotations!</h1>
  <p class="lead">Esse site permite que voçê faça anotações e as coloque tags nelas para conseguir organizá-las de maneira mais fácil</p>
</div>
