<div class = "container">
	<h1 class = "text-danger text-center">Página não encontrada</h1>
	<p class = "text-center">
		Por alguma razão, essa página que você requisitou não está disponível!
	</p>
</div>