<div class = "container">
    {{#each tags}}
        <div class = "row">
            {{#each this}}
                <div class = "col">
                    <a href = "/tags/{{_id}}" class = "btn btn-link">{{name}}</a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
