<div class = "container">
    {{#each tags}}
        <div class = "row">
            {{#each this}}
                <div class = "col">
                    <a href = "{{url}}" class = "btn btn-link">{{name}}</a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
